<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Lista de livros</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/index.css" />
</head>

<body>
	<div id="app" class="container">
		<h2>{{cabecalho}}</h2>
		<ul>
			<li v-for="livro in livros" v-bind:class="{ 'removido': livro.checked }">
				<div class="checkbox">
					<label>
						<input class="js-livro" name="list" type="checkbox" v-model="livro.checked">
						<big>{{livro.titulo}}</big> - <small>{{livro.autor}}</small>
					</label>
				</div>
			</li>
		</ul>
		<div class="footer">
			<hr />
			<em>Modifique o título da lista:</em>
			<input v-model="cabecalho" />
		</div>
	</div>
	<script>
		new Vue({
			el: '#app',
			data: data,
			methods: {
				addLivro: function () {
					var titulo = this.novoLivro.trim();
					var autor = this.novoAutor.trim();
					if (titulo && autor) {
						this.livros.push({
							titulo: titulo,
							autor: autor,
							checked: false
						});
						this.novoLivro = '';
						this.novoAutor = '';
					}
				}
			}
		});
	</script>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>

</html>